@tailwind base;
@tailwind components;
@tailwind utilities;
/* Custom Scrollbar for Webkit Browsers (Chrome, Safari, Edge) */

/* The entire scrollbar container */
.dark ::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* The track (the background of the scrollbar) */
.dark ::-webkit-scrollbar-track {
  background: #1f2937; /* Corresponds to dark:bg-gray-800 */
  border-radius: 10px;
}

/* The draggable scrolling handle */
.dark ::-webkit-scrollbar-thumb {
  background-color: #4b5563; /* Corresponds to dark:bg-gray-600 */
  border-radius: 10px;
  border: 2px solid #1f2937; /* Creates a padding effect */
}

/* The handle on hover */
.dark ::-webkit-scrollbar-thumb:hover {
  background-color: #6b7280; /* Corresponds to dark:bg-gray-500 */
}


/* Custom Scrollbar for Firefox */
.dark {
  scrollbar-width: thin;
  scrollbar-color: #4b5563 #1f2937; /* thumb color track color */
}